{% extends "base.html" %}

{% block content %}
<div class="hero min-h-screen bg-base-200">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <div class="card shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
      <form id="login-form" class="card-body" hx-post="/login" hx-target="#notifications" hx-swap="afterbegin">
        <div class="form-control">
          <label class="label">
            <span class="label-text">Email</span>
          </label>
          <input type="email" name="username" placeholder="email" class="input input-bordered" required />
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text">Password</span>
          </label>
          <input type="password" name="password" placeholder="password" class="input input-bordered" required />
          <label class="label">
            <a href="#" class="label-text-alt link link-hover">Forgot password?</a>
          </label>
        </div>
        <div class="form-control mt-6">
          <button type="submit" class="btn btn-primary">Login</button>
        </div>
      </form>
    </div>
    <div class="text-center lg:text-left">
      <h1 class="text-5xl font-bold">Login now!</h1>
      <p class="py-6">Provident cupiditate voluptatem et in.</p>
    </div>
  </div>
</div>
<script>
  /*document.getElementById('login-form').addEventListener('htmx:afterRequest', function(event) {
    debugger
    const successful = event.detail.successful;
    const response = event.detail.xhr.response;
    debugger;
    if (successful == false) {
      debugger
      const responseJson = JSON.parse(response);
      debugger;
      // Capturar y manejar el código de estado 404 aquí
      console.log('La página no fue encontrada (404)');
    }
  });*/
</script>
{% endblock content %}
