<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oasis Hub</title>

    <!-- Tailwind CSS y DaisyUI desde CDN -->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.1.6/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- Configuración de Tailwind para DaisyUI -->
    <script>
        tailwind.config = {
            daisyui: {
                themes: ["light", "dark"],
            },
        }
    </script>
</head>
<body>
    <div id="notifications">
    </div>

    <div id="content">{% block content %}{% endblock content %}</div>
</body>
</html>
